.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .box {
    margin-left: 20px;
    background-color: #2563eb;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    color: white;

    &:hover {
      background-color: #1d4ed8;
    }
  }
}
